<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title> ACI Anywhere Automation </title>

    <head>
        <meta Http-Equiv="Cache-Control" Content="no-cache">
        <meta Http-Equiv="Pragma" Content="no-cache">
        <meta Http-Equiv="Expires" Content="0">
        <meta Http-Equiv="Pragma-directive: no-cache">
        <meta Http-Equiv="Cache-directive: no-cache">
        

        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/aciauto.css">

        
    </head>

<body>


<div id="buttons">

        <!--Add a Template to the MSC  -->
        <h3> Get Tentant Data from MSC </h3>
        <input type="submit" id="getTenants" value = "Get Tenant Data" >


        <!-- -->
        <h3> Add Tenant</h3>
        <input type="submit" id="addTenant" value = "Add Tenant" >

        <!--  -->
        <h3> Get Schemas </h3>
        <input type="submit" id="getSchema" value="Get Schema" >


        <!-- action 4 -->
        <h3> Add Schema </h3>
        <input type="submit" id="addSchema" value = "Add Schema" >


        <!-- Clear Output -->
        <h3> Clear Output </h3>
        <input type="submit" id="clearOutput"  value = "Clear Output" >


</div>

<div id="header">

    <h1> Multi Site Controller Automation Tool</h1>


</div>

<div id="infoDiv">

    <!-- Div to display Generic Information about an action made through the web page -->
    <h2> JSON Messages returned from MSC below: </h2>

</div>



<div id="jsonDiv">

    <!-- Div to display JSON format sent to MSC -->
    
</div>


<script>
    
    // Button Actions below:
    
    $("#getTenants").click(function() {
        var actionPost =  '{ "action" : "gettenant" }';
        parsedAction = JSON.parse(actionPost);
        var action_url = "http://127.0.0.1:8089/get_tenants";
        clearDiv();
        actionAjax(parsedAction, action_url);


    });
    
    $("#addTenant").click(function() {
        var actionPost =  '{ "action" : "addtenant" }';
        jsonActionPost = JSON.parse(actionPost);
        var action_url = "http://127.0.0.1:8089/add_tenant";
        clearDiv()
        actionAjax(jsonActionPost,action_url);
    });
    $("#getSchema").click(function() {
        var actionPost =  '{ "action" : "getSchema" }';
        jsonActionPost = JSON.parse(actionPost);
        var action_url = "http://127.0.0.1:8089/get_schema";
        clearDiv()
        actionAjax(jsonActionPost, action_url);
    });
    $("#addSchema").click(function() {
        var actionPost =  '{ "action" : "addSchema" }';
        jsonActionPost = JSON.parse(actionPost);
        var action_url = "http://127.0.0.1:8089/add_schema";
        clearDiv()
        actionAjax(jsonActionPost,action_url);
    });

    $(document).ready(function() {
        $("#clearOutput").click(function(){
            $('#jsonDiv').empty()
        });
    });


    function clearDiv() {

        // Clear output div before each call for information
        $(document).ready(function() {
            $("#clearOutput").click(function(){
                $('#jsonDiv').empty()
            });
        });

    }

    function actionAjax(jsonActionPost, action_url) {

        /* ajax call to flask webserver */
        
        $.ajax({
            url: action_url,
            type: 'post',
            crossDomain: false,
            dataType: 'json',
            data: jsonActionPost,
            success: function(results){

                //var msc_json = JSON.stringify(JSON.parse(results.message), null, ' ');
                // Flask server return current state of video stream

                //$('#jsonDiv').append(msc_json)
                // }
                var jsonOutput = document.createTextNode( JSON.stringify(JSON.parse(results.message),null, 2));
                $('#jsonDiv').html('<h3>JSON payload extracted from reply message</h3>').append(jsonOutput);
            }

        });

    }


</script>


</body>
</html>